.nav {
  text-align: center;
  padding: 3rem 0;

  a {
    text-decoration: none;
    display: inline-block;
    padding: 0.3rem 0.6rem;
    color: var(--color-logo-text);
    font-weight: 500;
    font-size: 1.8rem;
    background: var(--color-primary);
  }

  .desc {
    color: var(--color-gray-500);
    font-size: 1.4rem;
    margin-top: 0.4rem;
  }
}
