.darkmode-button {
  display: block;
  margin: 0;
  background: linear-gradient(135deg, var(--color-primary), var(--color-primary) 53%, var(--color-bg-reverse) 53%);
  border: 1px solid var(--color-bg-reverse);
  cursor: pointer;
  outline: 0;
  border-radius: 100px;
  width: 16px;
  height: 16px;
}
