.codeBlockWrapper {
  font-size: 1.4rem;
  .codeBlockContent {
    position: relative;
  }

  .codeBlockTitle {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid var(--fenced-title-border);
    font-weight: bold;
    padding: 0.75rem 1.6rem;
    overflow: auto;
  }

  .codeBlock {
    overflow: auto;
    border-radius: 8px;
  }

  .codeBlockWithTitle {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .highlight-code-line {
    padding: 0 1.6rem 0 calc(1.6rem - 2px);
    margin: 0 -1.6rem;
    border-left: 2px solid var(--color-primary);
    background: var(--fenced-highlight-line-bg);
  }

  .copyButton {
    background: var(--fenced-copy-button-bg);
    border: none;
    border-radius: 4px;
    color: var(--fenced-text);
    cursor: pointer;
    opacity: 1;
    outline: none;
    padding: 0.4rem 0.5rem;
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    font-size: 1.2rem;
  }

  .codeBlockLines {
    font-size: inherit;
    white-space: pre;
    float: left;
    min-width: 100%;
    padding: 1.6rem;
  }

}
