html[color-scheme=light] {
  --color-bg:                  #FFFFFF;
  --color-hover:               #F8F9FC;
  --color-active:              #F1F3F9;
  --color-border:              #F5F6FA;
  --color-border-hover:        #EBEDF5;
  --color-pagination-disabled: #EBEDF5;
  --color-footnote:            #EBEDF5;
  --color-text:                #464750;
  --color-pagination-enabled:  #464750;
  --color-title:               #14192D;
  --color-logo:                #14192D;
  --color-category:            #14192D;
  --color-nprogress:           #14192D;
  --color-md-link-border:      #DADDEC;

  --color-sun:                 #F8C86E;
}

html[color-scheme=dark] {
  --color-bg:                  #313B52;
  --color-hover:               #3B4763;
  --color-border:              #394560;
  --color-active:              #435070;
  --color-border-hover:        #465576;
  --color-footnote:            #7885A1;
  --color-pagination-disabled: #7885A1;
  --color-text:                #909BB1;
  --color-title:               #D8E2FB;
  --color-logo:                #D8E2FB;
  --color-category:            #D8E2FB;
  --color-pagination-enabled:  #D8E2FB;
  --color-md-link-border:      #7885A1;
  --color-nprogress:           #D8E2FB;

  --color-moon:                #FFFFFF;
}
